@import 'reset.scss';
@import 'loader.scss';

html, body, #editor-container, #mock-container {
   height: 100%;
   width: 100%;
}

.container {
   display: flex;
   height: 100%;
   width: 100%;
}

#editor-container, #mock-container {
   width: 50%;
}

#mock-container {
   margin-top: 2rem;
   pre {
      white-space: pre-wrap;
   }
}

#controls {
   margin-bottom: 1rem;
   display: none;
}

#loading-icon {
   display: flex;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 1000;
   justify-content: center;
   align-items: center;
}